body {
	background: #ccc;
	color: #444;
}
#header, #footer {
	background-image: url(/images/dappled.jpg);
}

#header {
    font-family: 'Ubuntu', serif;
    font-size: 36px;
    color: #aaf;
    padding: 10px 20px;
    
}
#nav {
    width: 200px;
    float: left;
    font-family: 'Ubuntu', serif;
    font-size: 18px;
}
#wrap {
	position: relative;
	background-image: url(/images/dappled-nav.jpg);
	background-repeat: repeat-y;
}
#content {
	float: left;
}
#nav {
}
#nav li {
	display: block;
	float: right;
}
#nav a {
	display: block;
    width: 120px;
    padding: 10px 20px;
    border-bottom: 1px solid #777;
    text-align: right;
    
    color: #aaf;
}
#nav li:first-child > a {
    border-top: 1px solid #777;
}
#nav a:hover {
	color: #fff;
}
/*
#nav a:hover {
	background: #fff;
    border-bottom: 1px solid #fff;
}
#nav li:first-child > a:hover {
    border-top: 1px solid #fff;
}
*/
a {
    text-decoration: none;
}

#content {
	padding: 10px;
}

article {
	padding: 10px 20px;
	background: #fff;
	-moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    margin-bottom: 10px;
    width: 400px;
}
article h1 {
    font-family: 'Ubuntu', serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
article p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    font-family: 'Ubuntu', serif;
    font-size: 18px;
    color: #aaf;
    padding: 15px 20px;
}
#footer p {
	float: right;
}